:root {
  --bcol: #ffc600;
  --space: 10px;
  --blur: 10px;
}

img {
  padding: var(--space);
  background: var(--bcol);
  filter: blur(var(--blur));
}

span {
  color: var(--bcol);
}

h1 {
  text-align: center;
  color: darkred;
}

body {
  background-image: linear-gradient(to right, red, blue, purple);
  text-align: center;
}

.controls {
  margin-bottom: 50px;
}
